body {
  background-color: #e9ebf8;
}

h1 {
  color: #878787;
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  margin-bottom: 0;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  margin: 0;
  padding: 0;
  list-style: none;
  color: rgb(135, 135, 135);
  font-size: 16px;
  font-weight: 300;
  line-height: 19px;
}
li::first-letter {
  text-transform: capitalize;
}
a {
  text-decoration: none;
}
.weather-app {
  max-width: 700px;
  margin: 10px auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 30px 50px rgb(65 50 100 / 8%);
  background-color: white;
}
.weather-app-wrapper {
  max-width: 700px;
  margin: 30px auto;
}
.overview {
  margin-bottom: 20px;
}
.weather-temperature img {
  margin-right: 5px;
  height: 64px;
  width: 64px;
}
.weather-temperature strong {
  color: rgb(33, 33, 33);
  font-size: 64px;
  font-weight: 400;
  line-height: 1;
}
.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -34px;
}
.weather-temperature .active {
  color: rgb(33, 33, 33);
  cursor: default;
}
.weather-temperature .active:hover {
  text-decoration: none;
}
#city-input {
  background-color: #e8ecee;
  box-shadow: 2px 2px 4spx rgba(0, 0, 0, 0.2);
  border: none;
}
.humidity-icon {
  width: 32px;
  height: 32px;
  margin-right: 10px;
}
.wind-icon {
  width: 32px;
  height: 32px;
  margin-right: 10px;
  /* color: #095ed6; */
}
.humidity-info {
  color: #0d6efd;
}
.wind-info {
  color: #0d6efd;
}
.weather-forcast {
  margin-top: 28px;
  text-align: center;
}
.weather-forcast-date {
  font-size: 16px;
  color: black;
  opacity: 0.5;
}

.weather-forcast-temprature {
  font-size: 13px;
}
.weather-forcast-temprature-min {
  opacity: 0.5;
}
.forcast-temp:hover {
  background-color: #e6effb;
  border-radius: 12px;
}
